<%= javascript_include_tag('jquery-3.4.1.min.js') %>
<%= javascript_include_tag('pages.js') %>
<div class="container">
	<div class="inner-container">
		<%= render main_page_content_partial_path %>
	</div>
</div>
